body {
    padding: 5px;
    margin: 5px;
}

header {
    background: red;
    height: 100px;
    text-align: center;
}

nav {
    background: blue;
    height: 50px;
    text-align: center;
}

#uklad {
    display: flex;
}

#lewyPanel {
    background: green;
    width: 50%;
    padding: 5px;
    position: relative;
}

#galeria {
    background: turquoise;
    width: 100%;
    height: 100px;
    position: absolute;
    bottom: 5px;
}

#map {
    height: 600px;
    width: 50%;
}

img {
    height: 300px;
    width: 300px;
}

footer {
    background: black;
    height: 100px;
    color: white;
}