{% extends 'base.html.twig' %}

{% block title %}
    Records list
{% endblock %}

{% block body %}
    <h1>Records list</h1>
    {% if records is defined and records|length %}
        <table class="table table-striped">
            <thead>
            <tr>
                <th>Id</th>
                <th>Title</th>
                <th>Tags</th>
                <th scope="col">
                    Actions
                </th>
            </tr>
            </thead>
            <tbody>
            {% for record in records %}
                <tr>
                    <td>{{ record.id }}</td>
                    <td>{{ record.title }}</td>
                    <td>{{ record.tags|join(', ') }}</td>
                    <td>&nbsp;</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    {% else %}
        <p>
            List is empty.
        </p>
    {% endif %}
{% endblock  %}