body {
    text-align: center;
}

#two {
    display: flex;
}

nav {
    background: #5BC0EB;
    width: 100%;
    height: 50px;
    margin: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

nav ul {
    list-style-type: none;
    display: flex;
}

nav ul li a {
    display: block;
    background: #C5EBC3;
    margin: 20px;
    width: 100px;
    height: 30px;
    text-decoration: none;
}

nav ul li a:hover {
    background: #A3C9A1
}

#left {
    background: #FDE74C;
    height: 500px;
}

#right {
    background: #9BC53D;
    height: 500px;
}

#secondRow {
    background: #C3423F;
    width: 100%;
    height: 50px;
    margin: 10px;
}

#mainText {
    background: #BFACC8;
    width: 100%;
    height: 400px;
    margin: 10px;
}

footer {
    background: #4A4063;
    width: 100%;
    height: 50px;
    margin: 10px;
}
